@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CenturyGothic;
    src: url(font/GOTHIC.TTF);
  }

  @font-face {
    font-family: CenturyGothicBold;
    src: url(font/gothicb.ttf);
  }

.ad{
  background: linear-gradient(180deg, #FF4588 0%, #FF59E7 50.31%, #9CD5FF 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 500px;
}  

.ig{
  background: linear-gradient(180deg, #9CD5FF 0%, #8E59FF 50.31%, #CF45FF 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 500px;
}

.ux{
  background: linear-gradient(180deg, #CF45FF 0%, #FF59F8 50.31%, #FF9CB9 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 500px;
}

.logo{
  background: linear-gradient(180deg, #FF9BBB 0%, #FDFF90 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 300px;
}

.black{
  background-color: rgba(0, 0, 0, 0.359)!important;
}

.green{
  background-color: #CDFF9C;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 500px;

}

.purple{
  background-color: #DF9CFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 500px;

}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 760px) {
  .ad,.purple,.green,.ux,.ig {
    width: 350px;
    height: 350px;
  }
  .logo{
    width: 350px;
    height: 500px;
  }
}